.linkWork
    text-decoration: none !important
    color: white
    
.linkWork:hover
    color: #432C47
    text-decoration: none !important

.nombreProyecto
    +titulo(#432C47,75px)
    +marginTL(0px,25px)
    font-family: "AbertaBoldItalic"

.flexWork
    display: flex
    justify-content: center
    align-items: center
    height: 100%

.contenedorWork
    color: white

.zonaLogo
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

