
.titulo
    +titulo(#432C47,60px)
    +marginTL(0px,25px)
    font-family: "AbertaBoldItalic"

.subtitulo
    +titulo(white, 35px)
    +marginTL(0px,25px)
    font-family: "Aberta-semibold"

.flexy
    display: flex
    flex-direction: column
