.videin
    width: 100vw
    z-index: -2

.grande
    width: 100vw
  

.contenedorVideo
    width: 100%
    
.btnVideon
    z-index: 9
    position: fixed
    bottom: 50px
    left: 48vw
    width: 50px
    height: 50px
    border-radius: 50px
    background-color: red !important

.btnVideon:hover
    cursor: pointer

.quitar
    visibility: hidden

.fas
    color: white !important
