.linkWork
    text-decoration: none !important
    color: white
    
.linkWork:hover
    color: #432C47
    text-decoration: none !important

.nombreProyecto
    +titulo(#432C47,60px)
    +marginTL(0px,25px)
    font-family: "AbertaBoldItalic"

