@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700|Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700");
body {
  display: flex;
  flex-direction: row;
  overflow: hidden; }

.zonaA {
  background-color: #DDDDDD;
  height: 100vh;
  width: 50vw; }

@font-face {
  font-family: "AbertaBold";
  src: url("../tipos/AvertaStd-Bold/AvertaStd-Bold.eot");
  src: url("../tipos/AvertaStd-Bold/AvertaStd-Bold.eot?#amocristalab") format("embedded-opentype"), url("../tipos/AvertaStd-Bold/AvertaStd-Bold.woff") format("woff"), url("../tipos/AvertaStd-Bold/AvertaStd-Bold.ttf") format("truetype"), url("../tipos/AvertaStd-Bold/AvertaStd-Bold.svg#AvertaStd-Bold") format("svg"); }
@font-face {
  font-family: "AbertaBoldItalic";
  src: url("../tipos/AvertaStd-BoldItalic/AvertaStd-BoldItalic.eot");
  src: url("../tipos/AvertaStd-BoldItalic/AvertaStd-BoldItalic.eot?#AvertaStd-BoldItalic") format("embedded-opentype"), url("../tipos/AvertaStd-BoldItalic/AvertaStd-BoldItalic.woff") format("woff"), url("../tipos/AvertaStd-BoldItalic/AvertaStd-BoldItalic.ttf") format("truetype"), url("../tipos/AvertaStd-BoldItalic/AvertaStd-BoldItalic.svg#A") format("svg"); }
@font-face {
  font-family: "Aberta-semibold";
  src: url("../tipos/AvertaStd-semibold/AvertaStd-semibold.eot");
  src: url("../tipos/AvertaStd-semibold/AvertaStd-semibold.eot?#amocristalab") format("embedded-opentype"), url("../tipos/AvertaStd-semibold/AvertaStd-semibold.woff") format("woff"), url("../tipos/AvertaStd-semibold/AvertaStd-semibold.ttf") format("truetype"), url("../tipos/AvertaStd-semibold/AvertaStd-semibold.svg#AvertaStd-semibold") format("svg"); }
.zonaB {
  display: flex !important;
  flex-direction: column !important; }

.fijado {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0; }

.barra {
  background-color: #432C47;
  width: 50vw;
  height: 100px; }

.red {
  background-color: #FE5442; }

.descripcion {
  color: white;
  font-family: "AbertaBoldItalic";
  font-size: 25px; }

.info {
  background-color: #FE5442;
  height: 100%;
  width: 100%;
  padding: 25px;
  overflow: hidden; }

.desaparecer {
  display: none !important; }

.menu {
  height: 100%;
  width: 100%;
  background-color: #FE5442;
  display: none !important; }

.abierto {
  display: block !important; }

.menu-wrapper {
  margin: 15px;
  width: 100px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  right: 0; }

.links {
  text-decoration: none !important;
  color: white; }

.links:hover {
  color: #432C47;
  text-decoration: none !important; }

.linksText {
  font-family: "AbertaBoldItalic";
  font-size: 100px;
  transition: all 0.2s ease-in-out;
  margin-left: 50px; }

.linksText:hover {
  font-size: 150px;
  transform: scale(1.1); }

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 100px;
  height: 10px; }

.hamburger-menu {
  position: relative;
  transform: translateY(25px);
  background: white;
  transition: all 0ms 300ms; }

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0); }

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 25px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.titulo {
  color: #432C47;
  font-size: 60px;
  margin-top: 0px;
  margin-left: 25px;
  font-family: "AbertaBoldItalic"; }

.subtitulo {
  color: white;
  font-size: 35px;
  margin-top: 0px;
  margin-left: 25px;
  font-family: "Aberta-semibold"; }

.flexy {
  display: flex;
  flex-direction: column; }

.containerCotizador {
  height: 100vh;
  background-color: #DDDDDD;
  padding: 50px; }

.flexContacto {
  display: flex;
  justify-content: center;
  width: 100%; }

.tituloContacto {
  font-family: "AbertaBoldItalic";
  color: #432C47;
  font-size: 30px;
  margin-top: 15px; }

.formContacto {
  width: 100%; }

.dosInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap; }

.inputs2 {
  width: 275px;
  display: flex;
  flex-direction: column; }

.labelInput {
  color: #FE5442;
  font-family: "Aberta-semibold"; }

.inputContacto2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: -25px; }

.posicion {
  margin-left: 0px;
  margin-top: 20px; }

.full {
  width: 100%;
  display: flex; }

.inputFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 30px; }

.posicion2 {
  margin-left: 0%;
  margin-top: -20px; }

.inputContacto3 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100%;
  flex: 1; }

.flexBotones {
  display: flex;
  justify-content: center; }

.zonaBotones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  flex-wrap: wrap;
  margin-left: -25px; }

.btnFormulario {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #FE5442;
  background-color: #DDDDDD;
  color: #FE5442; }

.btnFormulario:hover {
  background-color: #FE5442;
  color: white;
  cursor: pointer; }

.proyecto {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FE5442;
  color: #FE5442;
  text-decoration: none;
  width: 70%; }

.otroTipo {
  display: flex;
  justify-content: center !important;
  width: 100%; }

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px; }

.cajaDescripcion {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100%;
  flex: 1; }

.btnSubmit {
  background-color: #432C47;
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: white; }

.zonaBtnSubmit {
  display: flex;
  justify-content: center; }

.irs--round {
  height: 50px; }

.irs--round.irs-with-grid {
  height: 65px; }

.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #F2F2F2 !important;
  border-radius: 4px; }

.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #FE5442 !important; }

.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px; }

.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222, 228, 236, 0.5); }

.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #FE5442 !important;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(254, 84, 66, 0.3); }

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff; }

.irs--round .irs-min,
.irs--round .irs-max {
  color: white !important;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: #FE5442 !important;
  border-radius: 4px; }

.colorcin .irs-from, .irs-to {
  background-color: #FE5442 !important; }

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #FE5442 !important;
  color: white;
  border-radius: 4px; }

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #FE5442 !important; }

.irs--round .irs-grid {
  height: 25px; }

.irs--round .irs-grid-pol {
  background-color: #dedede; }

.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px; }

.videin {
  width: 50vw; }

.contenedorVideo {
  width: 100%;
  z-index: -3 !important; }

.titulo {
  color: #432C47;
  font-size: 60px;
  margin-top: 0px;
  margin-left: 25px;
  font-family: "AbertaBoldItalic"; }

.subtitulo {
  color: white;
  font-size: 30px;
  font-family: "Aberta-semibold";
  text-align: justify;
  padding-right: 50px; }

.zonaTextoVideo {
  height: 500px; }

.tile1 {
  display: none; }

.tile2 {
  display: none; }

.tile3 {
  display: none; }

.botonVideo {
  position: fixed;
  bottom: 100px;
  height: 50px !important;
  cursor: pointer; }

.fondo {
  background-color: #432C47;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; }

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 100px; }

.opalo {
  width: 250px; }

@keyframes floating {
  from {
    transform: translate(0, 0px); }
  65% {
    transform: translate(0, 80px); }
  to {
    transform: translate(0, 0px); } }
.imgCambiante {
  height: 400px; }

.linkWork {
  text-decoration: none !important;
  color: white; }

.linkWork:hover {
  color: #432C47;
  text-decoration: none !important; }

.nombreProyecto {
  color: #432C47;
  font-size: 60px;
  margin-top: 0px;
  margin-left: 25px;
  font-family: "AbertaBoldItalic"; }

.flexWork {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.contenedorWork {
  color: white; }

.zonaLogo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.zonaLogoLudi {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambianteLudi {
  height: 400px;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaLudi {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

.zonaLogoFloyd {
  background-color: #3c3737;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambianteFloyd {
  height: 400px;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaFloyd {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

.zonaLogoLookgeo {
  background-color: #FE674C;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambianteLookgeo {
  height: 400px;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaLookgeo {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

.zonaLogoPaoPetite {
  background-color: #F7CED7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambiantePaoPetite {
  height: 400px;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaPaoPetite {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

.zonaLogoProtoplasma {
  background-color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambianteProtoplasma {
  height: 400px;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaProtoplasma {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

.zonaLogoCumbre {
  background-color: #FE674C;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambianteCumbre {
  height: 400px;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaCumbre {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

.zonaLogoAlexFerez {
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.imgCambianteAlexFerez {
  height: 400px !important;
  position: absolute;
  opacity: 0; }

.show {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1; }

.hide {
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

#zonaAlexFerez {
  height: 65vh;
  width: 40vw;
  text-align: justify;
  overflow: hidden; }

/*# sourceMappingURL=app.css.map */
